@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.tooltip-container {
  position: relative;
  display: inline-block; /* Para que o container se ajuste ao tamanho do botão */
}

.tooltip-text {
  visibility: visible;
  width: 150px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Posição acima do botão */
  left: 50%;
  margin-left: -75px; /* Centraliza o tooltip */

  /* Para a animação de opacidade, se desejar */
  opacity: 1;
  transition: opacity 0.3s;
}

.contentContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

select {
  background-color: #f4f4f4;
  color: #666666;
  width: 100%;
  border: none;
  outline: none;
  background-color: inherit;
  padding-bottom: 8px;
  font-size: 16px;
  padding-left: 4px;
}

select option {
    border: none;
    outline: none;
}

.inputContainer {
  width: 100%;
  display: flex;
  align-items: baseline;
}

.main-container3 {
  height: 80vh;
  width: 80vw;
}

.filterContainer {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 25%;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 16px;
}

.filterContainer button {
    width: 100%;
    background-color: #f24d0d;
}
.filterContainer h3 {
  color: #666666;
  font-family: "Poppins";
}

.productListContainer {
  display: flex;
  flex-direction: row;

  width: 70%;
  height: auto;
}

.product-list {
  display: flexb;
  flex-direction: row;
  height: auto;
  width: 100%;
}

.product-list li img {
  height: 150px;
}

.product-details p {
  font-size: 12px;
  margin: 0;
}

.product-details h3 {
  font-size: 14px;
  margin: 0 0 8px 0;
}

.logout-button-container {
    margin-top: 16px;
}